<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>

<h2>The Result is:-</h2>

<p id="demo">The current battery percentage is</p>

<button type="button" onclick="loadDoc()">Change Content</button>

<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     document.getElementById("demo").innerHTML = JSON.parse(this.responseText).feeds[1].field1;
    }
  };
  xhttp.open("GET", "https://api.thingspeak.com/channels/579558/fields/1.json?results=2", true);
  xhttp.send();
} 
</script>

</body>
</html>